@charset "UTF-8";

body {
    color: rgba(100, 197, 165, 0.884);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #095353ec;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 1px 1px 2px black;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 1px 1px 2px black;
    font-size: 15px;
}

a {
    color: rgb(4, 32, 75);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #54099bcb;
    text-decoration: underline
}

a:visited {
    color: #740a0ad7;
}

a:active {
    color: black;
}

.link::before {
    content: '\203A ';
}

.link::after {
    content: ' \2039';
}